/*.btn {
 padding: 1.5rem 1.5rem;
 text-decoration: none;
 color: $dark-gray;
 border-radius: 1.3rem;

 &-gray {
   background-color: $light-gray;
 }

 &-blue {
  color: white;
  background-color: $blue;
 }
}
*/